<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="USERNAME" value="billycrystal" />
    <add key="PASSWORD" value="billygoat" />
    <add key="DB_INSTANCE" value="seap" />
    <add key="HOST" value="167.118.162.50" />
    <add key="PORT" value="1521" />
    <add key="Testing" value="N,precuset@ncl.com" />
    <add key="SourcePath" value="\\cldpreptsvr03v\reportsV11\" />
    <add key="OutputPath" value="d:\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RptEmptyRecipients" value="abacheikov@ncl.com,iermus@NCL.com,ifraga@nclcorp.com,asaunders@ncl.com" />
    <add key="Forwarder" value="forwarder.nclmiami.ncl.com" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>